#skillicon {
  width: 30px;
  height: 30px;
  color: #4acaa8;
  margin-right: 20px;
}

.subtitle {
  text-align: center;
}

.features article .image img:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

#live {
  left:0;
  font-size: 20px;
  border-bottom: none;
}

#github {
  margin-left: 20px;
  font-size: 20px;
  border-bottom: none;
}

#contactme {
  display: flex;
}

#address {
  display: block;
}

.contactme {
  display: block;
  list-style: none;
  text-align: center;
  margin: auto;
  padding-left: 0;
}

.contactme li {
  padding-left: 0;
}
.contactme li a {
  font-size: 2.25em;
  margin: 20px;
}
